a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: $white;
  font-family: $font-main;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $black;
}
