.no-order {
  height: 440px;
  text-align: center;
  position: relative;
  background-color: $white;
}

.no-order__wrapper {
  position: absolute;
  width: 100%;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.no-order__title {
  margin: 0;
  padding: 0;
  color: $blue;
  font-family: $font-main;
  font-weight: 900;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 15px;
}

.no-order__link {
  display: inline-block;
  text-decoration: none;
  -webkit-box-shadow: 0 17px 30px 0 rgba(29, 100, 166, 0.2);
  -moz-box-shadow: 0 17px 30px 0 rgba(29, 100, 166, 0.2);
  box-shadow: 0 17px 30px 0 rgba(29, 100, 166, 0.2);
}
